<section id="features" class="section features {{include.class}}">
    <div class="container text-center">

        <h2>Features</h2>

        <div class="row">

            {% for feature in site.features limit:3 %}
            <div class="col-xs-4">
                <div class="feature">
                    {{feature.icon}}
                    <h3>{{feature.title}}</h3>
                    <p>{{feature.content}}</p>
                </div>
            </div>
            {% endfor %}

        </div>

        <br>

        <div class="row">

            {% for feature in site.features limit:3 offset:3%}
            <div class="col-xs-4">
                <div class="feature">
                    {{feature.icon}}
                    <h3>{{feature.title}}</h3>
                    <p>{{feature.content}}</p>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
</section>
