<section id="signup" class="section signup {{include.class}}">
    <div class="container text-center">

        <h1>Privacy Policy</h1>

        <h2>Terms of Use</h2>

        <p>Before you access tracedo.com you are agreeing to be bound by the conditions contained in these terms of use. You further agree that the judicial system of the Czech Republic shall have jurisdiction in respect to any dispute arising from these terms. We reserve the right to change, modify, add or remove portions of these terms at any time. Your continued use of tracedo.com following the posting of these changes to the terms will mean you accept those changes and further access will be governed accordingly.</p>

        <h2>Privacy Policy</h2>

        <p>Tracedo s.r.o. (Tracedo) take care to respect the privacy of its online visitors. Information that can identify an online visitor is collected only when voluntarily offered by the visitor. Our Web site does collect non-personal information from online visitors in order to track the number of visitors to the site and identify Internet information. This information allows us to continually improve our site. Information that can identify a visitor, such as name or address, is not collected in the process, nor does Tracedo require disclosure of such information before allowing the user access to any portion of the site. Non-personal information, such as the number of unique visitors to our website, is being collected by Google Analytics. Visitors also have the right to object to this information being collected by Google Analytics. You can opt-out of Google Analytics by clicking here.</p>

        <h2>Cookie Policy</h2>

        <p>Tracedo s.r.o. (Tracedo) uses third-party cookies to identify website visitor trends, to improve site functionality and to tailor content to your interests.</p>

        <h2>To Opt-out of Cookies</h2> 

        <p>If you are a visitor, you can opt-out of our third-party cookies.</p>

        <h2>General Cookie Information </h2>

        <p>The material (images and text) contained in this Web site is copyrighted and owned by Tracedo or sanctioned by licensing and usage agreements with other intellectual property owners. All rights (including moral rights of the authors) reserved. Except solely for your own personal and non-commercial use, no part of this Web site may be copied, republished, performed in public, broadcast, uploaded, transmitted, distributed, modified or dealt with in any manner at all, without the prior written permission of Tracedo, and, then, only in such a way that the source and intellectual property rights are acknowledged.</p>

        <h2>Accuracy of Information</h2>

        <p>While Tracedo makes every reasonable effort to ensure that the information contained within tracedo.com is correct, you should be aware that the information may be incomplete, inaccurate or may have become out of date and cannot be guaranteed or warranted.</p>

        <h2>Limitation Liability</h2>

        <p>To the maximum extent permitted by law, Tracedo shall not be liable to any person or organization, in any manner whatsoever from the use, construction or interpretation of, or the reliance upon, all or any of the information or materials contained in the Web site or inability to access the site.</p>

        <h2>Hyperlinks</h2>

        <p>This Web site may contain links to other sites owned by third parties as a convenience to users. Tracedo has no control over and is not responsible for the content found on external sites that do not belong to Tracedo.</p>
                
    </div>
</section>
